@use 'mixins' as *;

.example{
  color: red;
}

.container {
  @include min-max(0px, 100%);
  // Элемент растягивается на всю ширину родителя, но не становится уже 0px
}

.wrap {
  @include min-max(220px, 1220px);
  // Элемент ограничен шириной 1220px, даже если экран больше
}
